.header1-block {
    display: flex;
    justify-content: center;
    height: 65px;

    .header1 {
        display: flex;
        justify-content: space-between;
        width: 1150px;

        &-content1 {
            display: flex;
            align-items: center;

            &-logo {
                width: 90px;
                height: 25px;
            }

            &-locationTag-block {
                height: 40px;
            }

            &-locationTag {
                width: 20px;
                height: 20px;
            }

            &-address-block {
                display: flex;
                flex-direction: column;
                width: 115px;
            }

            &-address-city {
                color: #364844;
                font-size: 14px;
                font-family: PT Sans Caption;
                font-style: normal;
                font-weight: 400;
                line-height: 21px;
            }

            &-address-street {
                color: var(--2, #868686);
                font-size: 14px;
                font-family: PT Sans Caption;
                font-style: normal;
                font-weight: 400;
                line-height: 21px;
            }
        }

        &-content2 {
            display: flex;
            align-items: center;

            &-number {
                width: 155px;
                margin-left: 10px;
                color: #364844;
                font-size: 16px;
                font-family: PT Sans Caption;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
            }

            &-button {
                cursor: pointer;
                width: 195px;
                height: 45px;
                margin-left: 35px;
                border-radius: 50px;
                border: none;
                background: #0DBC91;
                color: #FFF;
                font-size: 14px;
                font-family: PT Sans Caption;
                font-style: normal;
                font-weight: 400;
                line-height: 21px;
            }
        }
    }

}

.header2-block {
    display: flex;
    justify-content: center;
    height: 45px;
    background: #1FA181;

    .header2 {
        display: flex;
        width: 1150px;

        &-button {
            cursor: pointer;
            border: none;
            border: 1px solid transparent;
            background: none;
            margin-right: 30px;
            color: #FFF;
            font-size: 16px;
            font-family: PT Sans Caption;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
        }

        & :hover {
            border: 1px solid #026e53;
        }
    }
}

.preview-block {
    width: 100%;

    .preview {
        display: flex;
        justify-content: center;

        &-description-block {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
        }

        &-description {
            &-header {
                width: 416px;

                color: #364844;
                font-family: PT Sans Caption;
                font-size: 36px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
            }

            &-text {
                display: flex;
                width: 367px;
                flex-direction: column;
                flex-shrink: 0;

                color: #364844;
                font-family: PT Sans Caption;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
            }
        }

        &-image {
            height: 480px;
        }
    }
}

.products-block {
    display: flex;
    justify-content: center;
    margin-top: 100px;

    .products {
        display: flex;
        justify-content: center;
        width: 1150px;
        height: 440px;
        background-color: #E2F0EF;

        &-information {
            display: flex;
            flex-direction: column;
            width: 513px;
            margin-top: 45px;
            margin-left: 65px;

            &-header1 {
                margin-bottom: 10px;
            }

            &-header2 {
                margin-top: 0;
            }

            &-service {
                color: #364844;
                font-family: PT Sans Caption;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                list-style: url('../images/ellipse.svg') inside;
                margin-bottom: 10px;
            }

            &-price-block {
                width: 190px;
                display: flex;
                justify-content: space-between;
                margin-top: 30px;
            }

            &-price1 {
                color: #364844;
                font-family: PT Sans Caption;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            &-price2 {
                color: #868686;
                text-decoration: line-through;

                font-family: PT Sans Caption;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                text-decoration-line: strikethrough;
            }

            &-buttons-block {
                display: flex;
                justify-content: space-between;
                width: 415px;
                margin-top: 20px;
            }

            &-button1 {
                cursor: pointer;
                width: 196px;
                height: 43px;
                border-radius: 50px;
                border: none;
                background: #0DBC91;
                color: #FFF;
                text-align: center;
                font-family: PT Sans Caption;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 21px;

                &:hover {
                    background: #00D29F;
                }
            }


            &-button2 {
                cursor: pointer;
                width: 196px;
                height: 43px;
                border-radius: 50px;
                border: 1px solid #0DBC91;
                background: none;
                color: #0DBC91;
                text-align: center;
                font-family: PT Sans Caption;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 21px;

                &:hover {
                    border: 1px solid #0DBC91;
                    background: #0DBC91;
                    color: #FFF;
                }
            }
        }

        &-image {
            width: 70%;
            clip-path: polygon(8% 0, 100% 0, 100% 100%, 20% 100%);
        }
    }
}

.footer-block {
    display: flex;
    justify-content: center;
    height: 148px;
    margin-top: 160px;
    background: #1FA181;

    .footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1150px;

        &-logo {
            width: 90px;
            height: 25px;
        }

        &-buttons-block {
            display: inline-flex;
            align-items: flex-start;
            gap: 30px;
        }

        &-button {
            cursor: pointer;
            background: none;
            border: none;
            border: 1px solid transparent;
            color: #FFF;
            font-family: PT Sans Caption;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;

            &:hover {
                border: 1px solid #026e53;
            }
        }

        &-icons-block {
            display: inline-flex;
            align-items: flex-start;
            gap: 15px;
            width: 135px;
        }

        &-icon {
            cursor: pointer;
            width: 35px;
            height: 35px;
        }
    }
}